<div class="jumbotron">
  <h2>Welcome to Jobline </h2>
  <h4>Archived Postmark Messages</h4>
  <p class="small">We'll access and connect to Postmark API and import messages onto this Application</p>
  <p>Hey manz! this is just a test app.</p>
  <p><a class="btn btn-lg btn-success" href="/outbound_messages" role="button">View Messages</a></p>
  <p> Today is <b><%= Date.today.strftime("%d %B %Y") %></b></p>
</div>
