<div class="jumbotron">
  <h2>Welcome to Jobline Archived Messages</h2>
  <p class="lead">We access Postmark API to import messages onto this Application</p>
  <p>Hey manz! this is just a test app.</p>
  <p><a class="btn btn-lg btn-success" href="/outbound_messages" role="button">View Messages</a></p>
  <p> Today is <b><%= Date.today.strftime("%d %B %Y") %></b></p>
</div>
