<div class="masthead">
  <div class="logo">
    <%= link_to(image_tag("jobline_logo.png"), root_path, class: 'logo', alt: 'jobline')%>
  </div>
  <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse ">
      <ul class="navbar-nav text-md-center nav-justified w-100 primary">
        <li class="nav-item">
          <%= link_with_current("Home", root_path, /Home/, /index/) %>
        </li>
        <li class="nav-item">
          <%= link_with_current("Messages", outbound_messages_path, /OutboundMessage/, /index|show/) %>
        </li>
        <li class="nav-item">
          <%= link_with_current("Webhooks", outbound_webhooks_path, /OutboundWebhook/, /index|show/) %>
        </li>
      </ul>
    </div>
  </nav>
</div>
